<div class="parentWrapper">
  <div class="chatBot">
    <div class="header">
      <div class="headerActionBar mb-20">headerActionBar
      <link rel="icon" type="image/png" href="/favicon.png"/></div>
      <div class="headerImg mb-20">headerImg</div>
      <div class="headerTitle mb-20">Fusce Bot</div>
      <div class="headerDescription">
        Welcome to Fusce help center. I am Fusce’s Virtual Assistant.
      </div>
    </div>
    <div class="body"></div>
    <div class="actionArea"></div>
  </div>
</div>
