.parentWrapper {
  position: absolute;
  bottom: 2%;
  right: 1%;

  .chatBot {
    position: relative;
    width: 351px;
    height: 617px;

    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.2);

    .header {
      height: 215px;
      border-radius: 16px 16px 0 0;
      background: linear-gradient(109.44deg, #0040ff 1.32%, #0b3bca 99.1%);

      .headerActionBar {
        display: flex;
        justify-content: flex-end;
      }

      .headerImg {
        // position: absolute;
        width: 40px;
        height: 40px;
        left: 0px;
        top: 0px;

        // background: url(.jpg), #ffffff;
      }

      .headerTitle {
        position: absolute;
        // width: 127px;
        height: 34px;
        left: 32px;
        top: 116px;
        // font-family: 'Proxima Nova Soft';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #ffffff;
      }

      .headerDescription {
        position: absolute;
        width: 197px;
        height: 34px;
        left: 32px;
        top: 159px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        color: #ffffff;
      }
    }
    .body {
    }
    .actionArea {
      position: absolute;
      // width: 351px;
      height: 84px;
      left: 0px;
      bottom: 0px;

      background: #ffffff;
    }
  }
}
