<div class="parentWrapper">
  <div class="chatBot">
    <div class="header">
      <div class="headerActionBar mb-20">
        <span>
          <img src="assets/icons/more-vertical.svg" />
        </span>
        <span>
          <img src="assets/icons/maximize-2.svg" />
          <img src="assets/icons/chevron-down.svg" />
        </span>
      </div>
      <div class="headerImg mt-20 mb-20">
        <img src="assets/images/unsplash_cTqxDBsEv3g.svg" />
      </div>
      <div class="headerTitle mb-20">Fusce Bot</div>
      <div class="headerDescription">
        Welcome to Fusce help center. I am Fusce’s Virtual Assistant.
      </div>
    </div>
    <div class="body"></div>
    <div class="footer">
      <div class="actionArea">
        <span>
          <img src="assets/icons/paperclip.svg" />
        </span>
        <span>
          <input type="text" placeholder="Message..." />
        </span>
        <span>
          <img src="assets/icons/send.svg" />
        </span>
      </div>
      <div class="poweredBy">
        <span> Powered by </span>
        <span> Fusce </span>
      </div>
    </div>
  </div>
</div>
